<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>

        <link rel="stylesheet" href="styles/index.css">
    </head>

    <body>
        <!-- low had tänkt lägg till na till men he får funk såhär-->

        <main>

            <div class="login-page">
                

                <form class="login-form">
                    
                <div class="input-container">
                    <label class="nput-label" for="username">Username</label>
                    <input class="nput" value="User713" name="username" type="text">
                </div>

                <div class="input-container">
                    <label class="nput-label" for="password" >Password</label>
                    <input class="nput" id="password" value="Password" name="password" type="password">
                </div>

                    <div class="login-options">
                        <div class="remember-me">

                            <!-- Does fucking nothing hahahaha-->
                            <input id="remember-me" class="remember-me" name="remember-me" type="checkbox">

                            <label for="remember-me">Remember me</label>
                        </div>
                        
                        <input class="login-btn" type="submit" value="Login">
                    </div>

                </form>

            </div>


            <div class="links">
                <p class="">

                </p>

                <p class="signup-txt">
                    Don't have an account? <a class="signup-lnk" href="register.html">Sign up now</a>
                </p>
            </div>
            
        </main>
    <!--
        <form action="/form" method="POST">
            <input name="username" type="text">
            <input name="password" type="password">

            <input type="submit"></input>
        </form>

        <form action="/fetch" method="get">
            <input value="submit" type="submit">
        </form>
        -->

        <script src="/scripts/index.js"></script>
        
    </body>
</html>