<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>

        <link rel="stylesheet" href="styles/register.css">
    </head>

    <body>


        <main>
            <div class="signup-page">
                

                <form class="signup-form">
                    
                <div class="input-container">
                    <label class="nput-label" for="username">Username</label>
                    <input value="User713" name="username" type="text">
                </div>

                <div class="input-container">
                    <label class="nput-label" for="password" >Password</label>
                    <input id="password" value="Password" name="password" type="password">
                </div>

                    <div class="signup-options">
                        <div>
                        <input id="terms-service"name="terms&service" type="checkbox">
                            <label for="terms-service">
                                I have read and accept the 
                                <a target="_blank" href="https://preview.redd.it/why-is-spongebob-sad-wrong-answers-only-v0-zd9vbm8jk4ad1.jpeg?width=783&format=pjpg&auto=webp&s=d62abb4eb3fb1cbc1a823f677b2031d564cd00d4">
                                    Privacy Policy
                                </a>
                            </label>
                        </div>
                        
                        <input class="signup-btn" type="submit" value="Login">
                    </div>

                </form>

            </div>


            <div class="links">
                <p class="">

                </p>

                <p class="signin-txt">
                    <a class="signin-lnk" href="index.html">Already have an account?</a>
                </p>
            </div>
            
        </main>
    <!--
        <form action="/form" method="POST">
            <input name="username" type="text">
            <input name="password" type="password">

            <input type="submit"></input>
        </form>

        <form action="/fetch" method="get">
            <input value="submit" type="submit">
        </form>
        -->

        
    </body>
</html>