/*  ngl stylen var meir läsbar tills jag fick iden att leg till svärande kattor

*/

* {font-family: sans-serif}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

input[type="text"], input[type="password"] {
    border-radius: .3rem;
    border: 2px solid gray;

    height: 2rem;
}

.login-page {
    position: relative;

    flex-direction: column;
    justify-content:space-evenly;

    top: 40vh;

    min-height: 20rem;
    min-width: 25rem;
    padding: 2rem;

    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.login-options {
    display: flex;

    flex-direction: row;

    justify-content: space-between;

    padding-top: 2rem;
}

/*
.remember-me >  label {
}*/

.login-form {
    display: flex;
    flex-direction: column;

    height: 10rem;

    justify-content: space-between;
}


.signup-txt {
    position: absolute;
    top: 75vh;

    color: gray;
}

.signup-lnk {
    color: #2271b1;;
    text-decoration: none;
}

.login-btn {
    height: 3rem;
    width: 6rem;

    font-size: 18px;

    background-color:#2271b1;;
    border: 0;
    border-radius: 0.3rem;
    color: white
}

.nput-label {
    color: rgb(96, 96, 96);
}

.input-container {
    display: flex;
    flex-direction: column;
}

.login-action-popup {
    width: 28rem;
    top: 32vh;
    position: absolute;
    transform:translateY(-400px);

    animation:kitten-reaction 0.5s forwards;
}

.login-action-popup > img {
    width: 100%;

    animation:kitten-reaction 0.2s;
}

@keyframes kitten-reaction {
    0%{
        height: 50px;
        transform: translateY(100px);
    }

    100%{
        transform: translateY((-800px));
        height: 496px;
    }
}